# App
NODE_ENV=development
PORT=3333

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=seu_usuario
DB_PASSWORD=
DB_DATABASE=gestorpro

# JWT
JWT_SECRET=change_this_to_a_strong_random_secret
JWT_EXPIRES_IN=7d
